h1 {
    color: blueviolet;
    background-color: rgba(193, 193, 255, 0.673);
}

pre {
    color: rgb(160, 93, 131);
    background-color: rgba(75, 75, 246, 0.673);
}
body {
    stroke-dashoffset: 0%;
}